[submodule "unit_1"]
	path = prog_datasci_1
	url = git@github.com:rbuj-UOC/22.401-unit_1.git
[submodule "unit_2"]
	path = prog_datasci_2
	url = git@github.com:rbuj-UOC/22.401-unit_2.git
[submodule "unit_3"]
	path = prog_datasci_3
	url = git@github.com:rbuj-UOC/22.401-unit_3.git
[submodule "unit_4"]
	path = prog_datasci_4
	url = git@github.com:rbuj-UOC/22.401-unit_4.git
[submodule "unit_5"]
	path = prog_datasci_5
	url = git@github.com:rbuj-UOC/22.401-unit_5.git
[submodule "unit_7"]
	path = prog_datasci_7
	url = git@github.com:rbuj-UOC/22.401-unit_7.git
[submodule "unit_8"]
	path = prog_datasci_8
	url = git@github.com:rbuj-UOC/22.401-unit_8.git
[submodule "activity_1"]
	path = activity_1
	url = https://github.com/rbuj-UOC/22.401-activity_1.git
[submodule "activity_2"]
	path = activity_2
	url = https://github.com/rbuj-UOC/22.401-activity_2.git
[submodule "activity_3"]
	path = activity_3
	url = https://github.com/rbuj-UOC/22.401-activity_3.git
[submodule "activity_4"]
	path = activity_4
	url = https://github.com/rbuj-UOC/22.401-activity_4.git
[submodule "activity_5"]
	path = activity_5
	url = https://github.com/rbuj-UOC/22.401-activity_5.git
[submodule "activity_4_sol"]
	path = activity_4_sol
	url = https://github.com/rbuj-UOC/22.401-activity_4_sol.git
[submodule "activity_3_sol"]
	path = activity_3_sol
	url = https://github.com/rbuj-UOC/22.401-activity_3_sol.git
[submodule "activity_2_sol"]
	path = activity_2_sol
	url = https://github.com/rbuj-UOC/22.401-activity_2_sol.git
[submodule "activity_1_sol"]
	path = activity_1_sol
	url = https://github.com/rbuj-UOC/22.401-activity_1_sol.git
